main{
    width: 980px;
    height: 680px;
    background-color: #87ceeb;
}
header{
    height: 150px;
    background-color: #8a2be2;
}
nav{
    height: 60px;
    background-color: #a52a2a;
}
article{
    width: 580px;
    height:390px;
    background-color: #008000;
    float: right;
}
aside{
    width: 400px;
    height: 390px;
    margin: 0px;
    float: left;
    background-color: #c386c0;
}
footer{
    height: 80px;
    background-color: #b8860b;
}